@media only screen and (max-width: 750px) {
  html {
    font-size: 45.5%;
  }
  .PracticeContainer {
    border-top-left-radius: 0;
  }
  .PracticeBtnContainer {
    width: 100vw;
    column-gap: 0;
    row-gap: 0;
    height: 40%;
    justify-content: end;
  }
  h1 {
    margin-bottom: 5rem;
  }
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 1px solid white;
  }
  .btnMain:hover {
    transform: translateY(0);
    background-color: #222;
  }
  .btnMain:hover::after {
    transform: translateY(0);
  }
  .btnMain:hover::before {
    transform: translateY(0);
  }
  .ProgressBar {
    width: 100%;
  }
  .Circle {
    width: 5vw;
    height: 5vw;
  }
}
